@model  List<MVCApp.Models.TimePerson>

<link rel="stylesheet" href="~/StyleSheet.css" type="text/css" />

<h1>Time Person of the Year!</h1>

<form method="post">
	<label for="inputBegYear">Beginning Year</label>
	<input maxLength="4" name="inputBegYear"/>

	<label for="inputEndYear">End Year</label>
	<input maxLength="4" name="inputEndYear"/>

	<button type="submit">Send Data</button>
	</form>


		
								

